{
  "global-groups": ["browser", "ecmascript"],
  "globals": {
    "__TAURI__": true,
    "Comlink": true,
    "Data_Thread": true,
    "Render_Thread": true,
    "GameStats": true,
    "LZString": true,
    "makeVideoPlayableInline": true,
    "nw": true,
    "PIXI": true,
    "$plugins": true
  }
}
